<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Binding function on the scope</title>
		<script src="../js/angular-1.3.0.js"></script>
		<script type="text/javascript">
			var app = angular.module('app', []);
			app.controller('ctrl', function($scope) {
				$scope.setMeet = function() {
					$scope.meet = $scope.meeting.message;
				}
			})
		</script>
	</head>
	<body ng-app="app" ng-controller="ctrl">
		<input type="text" ng-model="meeting.message"/>
		<button ng-click="setMeet()">click here</button>
		<div ng-show="meet != null && meet != undefined">
			hello, {{meet}}
		</div>
	</body>
</html>
