@charset ="UTF-8";
.window_boundingBox{
	position: fixed;
	border: 1px solid #000;
	box-shadow: 0 0 12px rgba(0,0,0,5);
}

.window_header{
	background-color: gray;
	color: white;
	font-weight: bold;
	text-align: center;
}

.window_content{
	text-indent: 20px;
	font-size: 14px;
	color: red;
}

.window_footer {
	position: absolute;
	height: 30px;
	bottom: 0;
	width: 100%;
	left: 0;
}

.window_footer > input{
	width: 100px;
	height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	margin-top: -40px;
	top: 100%;
}